---
import { changeLanguage } from 'i18next';
import { Image } from 'astro:assets';
import Main from '@/layouts/Main.astro';
import meJpeg from '@/assets/me.jpeg';
import SkillDrawer from '@/components/home/SkillDrawer.astro';
import Translation from '@/components/Translation.astro';
// import ProjectCard from '@/components/home/ProjectCard.astro';
import githubLogo from '@carbon/icons/svg/32/logo--github.svg?raw';
import instagramLogo from '@carbon/icons/svg/32/logo--instagram.svg?raw';
import emailLogo from '@carbon/icons/svg/32/email.svg?raw';
import formLogo from '@carbon/icons/svg/32/pen.svg?raw';
import infoIcon from '@carbon/icons/svg/32/information.svg?raw';
import LocalizedLink from '@/components/LocalizedLink.astro';

changeLanguage('en');
---

<Main>
  <section class="section hero">
    <div class="hero__bar">
      <div class="hero__image-wrapper">
        <Image class="hero__image" src={meJpeg} alt="Me :)" />
      </div>
      <h1 class="hero__title">
        <span class="hero__intro">
          <Translation>
            <span slot="de">Hi, Ich bin</span>
            <span slot="en">Hi, I'm</span>
          </Translation>
        </span><br />
        <span class="hero__name">
          <span class="hero__caret"></span>
          Fabian
        </span>
        <br />
        <span class="hero__name">&emsp;Kachlock</span>
      </h1>
    </div>
    <div class="hero__descriptions">
      <p class="hero__things">&lt;Software Developer/&gt;</p>
      <p class="hero__things">&lt;Code Architect/&gt;</p>
      <p class="hero__things">&lt;Tech Enthusiast/&gt;</p>
    </div>
  </section>
  <section class="section projects">
    <p id="info" style="max-width: 920px; margin: 0 auto; font-family: 'Mona Sans'; font-size: 1.5rem">
      <Fragment set:html={infoIcon} />
      <Translation>
        <span slot="de">Diese Seite ist aktuell im Aufbau.</span>
        <span slot="en">This page is currently under construction.</span>
      </Translation>
    </p>
  </section>
  <section class="section about">
    <a id="about" class="section-anchor">
      <Translation>
        <span slot="de">Über</span>
        <span slot="en">About</span>
      </Translation>
    </a>
    <h2 class="section__header">
      <Translation>
        <span slot="de">Über mich</span>
        <span slot="en">About me</span>
      </Translation>
    </h2>
    <Translation>
      <div slot="en" class="about-container">
        <p>
          Hi, I'm Fabian Kachlock, a 20 years old software developer from Germany with about <span id="experience"
            >6</span
          > years of experience in mainly web development.
        </p>
        <p>
          I focus on developing user-friendly interfaces and robust backend systems. My extensive experience with a
          variety of technologies and tools enables me to write high-quality code and ensure its quality.
        </p>
        <p>
          I rely on proven methods and techniques to ensure the security and scalability of my applications and to
          establish a solid codebase. Through careful architectural planning and continuous assurance of code quality, I
          aim to deliver reliable and high-quality solutions.
        </p>
        <p>
          By automating workflows and optimizing deployment processes, I ensure efficient operations and continuous
          improvement in development.
        </p>
      </div>
      <div slot="de" class="about-container">
        <p>
          Hi, ich bin Fabian Kachlock, ein 20 Jahre alter Softwareentwickler aus Deutschland mit etwa <span
            id="experience">6</span
          > Jahren Erfahrung hauptsächlich in der Webentwicklung.
        </p>
        <p>
          Ich konzentriere mich darauf, benutzerfreundliche Oberflächen und robuste Backend-Systeme zu entwickeln. Meine
          umfangreiche Erfahrung mit einer Vielzahl von Technologien und Tools ermöglicht es mir, hochwertigen Code zu
          schreiben und dessen Qualität sicherzustellen.
        </p>
        <p>
          Ich setze auf bewährte Methoden und Techniken, um die Sicherheit und Skalierbarkeit meiner Anwendungen zu
          gewährleisten und eine solide Codebasis zu schaffen. Durch sorgfältige Architekturplanung und kontinuierliche
          Sicherstellung der Codequalität strebe ich nach zuverlässigen und hochwertigen Lösungen.
        </p>
        <p>
          Mit der Automatisierung von Workflows und der Optimierung von Bereitstellungsprozessen sorge ich für
          effiziente Abläufe und eine kontinuierliche Verbesserung der Entwicklung.
        </p>
      </div>
    </Translation>
  </section>
  <section class="section skills">
    <a id="skills" class="section-anchor">
      <Translation>
        <span slot="de">Skills</span>
        <span slot="en">Skills</span>
      </Translation>
    </a>
    <h2 class="section__header">
      <Translation>
        <span slot="de">Skills</span>
        <span slot="en">Skills</span>
      </Translation>
    </h2>
    <div class="skills-container">
      <SkillDrawer
        featuredTools={['HTML', 'CSS', 'JS', 'TS']}
        tools={['Web APIs', 'express', 'NestJS', 'eslint', 'prettier', 'jest', 'Cypress']}
      >
        <Translation slot="title">
          <span slot="de">Grundlagen der Web-Entwicklung</span>
          <span slot="en">Webdevelopment essentials</span>
        </Translation>
        <Translation slot="content">
          <div slot="de">
            <p>
              Ich verfüge über umfassende Kenntnisse in der Webentwicklung, die von den Grundlagen mit HTML, CSS und
              JavaScript bis hin zur Erstellung dynamischer Webseiten reichen. Um das Paket der Fullstack-Anwendung
              abzurunden, setze ich auf RESTful APIs in Express oder NestJS.
            </p>
            <p>
              Um die Qualität und Zuverlässigkeit meiner Anwendungen sicherzustellen, greife ich regelmäßig auf Tools
              wie Jest und Cypress zurück. Darüber hinaus verwende ich TypeScript und Tools wie ESLint und Prettier, um
              sicherzustellen, dass auch die Codequalität stimmt.
            </p>
          </div>
          <div slot="en">
            <p>
              I have extensive knowledge in web development, ranging from the basics with HTML, CSS, and JavaScript to
              building dynamic web pages. To complete the package of a full-stack application, I rely on RESTful APIs in
              Express or NestJS.
            </p>
            <p>
              To ensure the quality and reliability of my applications, I regularly utilize tools like Jest and Cypress.
              Additionally, I use TypeScript and tools like ESLint and Prettier to ensure code quality.
            </p>
          </div>
        </Translation>
      </SkillDrawer>
      <SkillDrawer
        featuredTools={['vite', 'pinia', 'vuetify', 'vue-i18n']}
        tools={['tailwindcss', 'SASS', 'vitest', 'vue-router']}
      >
        <Translation slot="title">
          <span slot="de">Vue.js - mein bevorzugtes Frontend-Framework</span>
          <span slot="en">Vue.js - my frontend framework of choice</span>
        </Translation>
        <Translation slot="content">
          <div slot="de">
            <p>
              Vue.js ist mein bevorzugtes Frontend-Framework für interaktive Single-Page-Applications. In Kombination
              mit Tools wie Vite, Pinia und Vuetify ermöglicht es mir, schnell voll funktionsfähige Anwendungen zu
              entwickeln. Für Komponententests nutze ich dabei vitest.
            </p>
            <p>
              Um meine Vue.js-Anwendungen zu internationalisieren, greife ich gerne auf vue-i18n zurück. Beim Styling
              verwende ich entweder reines CSS, Tailwind CSS oder andere Utility-CSS-Frameworks für schnelle Ergebnisse,
              oder auch SASS für komplexere Anforderungen.
            </p>
          </div>
          <div slot="en">
            <p>
              Vue.js is my preferred frontend framework for interactive single-page applications. In combination with
              tools like Vite, Pinia, and Vuetify, it allows me to quickly develop fully functional applications. For
              component testing, I use vitest.
            </p>
            <p>
              To internationalize my Vue.js applications, I often rely on vue-i18n. For styling, I use either plain CSS,
              Tailwind CSS, or other utility CSS frameworks for quick results, or SASS for more complex requirements.
            </p>
          </div>
        </Translation>
      </SkillDrawer>
      <SkillDrawer featuredTools={['Astro', 'React', 'Angular']} tools={['Nuxt.js', 'Alpinejs', 'i18next']}>
        <Translation slot="title">
          <span slot="de">Andere Frontend-Frameworks</span>
          <span slot="en">Other frontend frameworks</span>
        </Translation>
        <Translation slot="content">
          <div slot="de">
            <p>
              Neben Vue.js arbeite ich auch mit anderen Frontend-Frameworks wie React und Angular. Wenn ich eine
              Multi-Page-Application oder andere Server-Side-Rendering-Anforderungen habe, greife ich gerne Nuxt.js oder
              Astro zurück.
            </p>
            <p>
              Für Anwendungen, die nur minimale Interaktivität erfordern, setze ich gerne auf Alpine.js, da es mir
              ermöglicht, interaktive Elemente einfach und ohne großen Overhead zu erstellen. Außerhalb des
              Vue-Ökosystems nutze ich i18next für die Internationalisierung.
            </p>
          </div>
          <div slot="en">
            <p>
              In addition to Vue.js, I also work with other frontend frameworks like React and Angular. When I have
              multi-page application or other server-side rendering requirements, I often turn to Nuxt.js or Astro.
            </p>
            <p>
              For applications that require minimal interactivity, I enjoy using Alpine.js as it allows me to create
              interactive elements simply and with minimal overhead. Outside the Vue ecosystem, I use i18next for
              internationalization.
            </p>
          </div>
        </Translation>
      </SkillDrawer>
      <SkillDrawer
        featuredTools={['fiber', 'go-cron', 'SSE']}
        tools={['WebSockets', 'golang-migrate', 'Postgresql', 'MongoDB']}
      >
        <Translation slot="title">
          <span slot="de">Golang - meine bevorzugte Backend-Sprache</span>
          <span slot="en">Golang - my backend language of choice</span>
        </Translation>
        <Translation slot="content">
          <div slot="de">
            <p>
              Ich setze Golang für die Entwicklung vielseitiger und hochintegrierter Backends ein. Mit Tools wie Fiber
              erstelle ich leistungsstarke Services, die per Websockets oder Server-Sent-Events das Frontend in Echtzeit
              auf dem neuesten Stand halten.
            </p>
            <p>
              Je nach Anwendungsfall arbeite ich datenbankseitig entweder mit PostgreSQL oder MongoDB. Dabei lege ich
              großen Wert auf die Datenmigrationsfähigkeit und ein robustes Datenbankschema.
            </p>
            <p>
              Neben Backend-Anwendungen verwende ich Go auch für die Entwicklung von CLI-Tools, die meine tägliche
              Arbeit erleichtern.
            </p>
          </div>
          <div slot="en">
            <p>
              I use Golang for developing versatile and highly-integrated backends. With tools like Fiber, I create
              powerful services that keep the frontend up-to-date in real-time using WebSockets or Server-Sent Events.
            </p>
            <p>
              Depending on the use case, I work with either PostgreSQL or MongoDB on the database side. I prioritize
              data migration capability and a robust database schema.
            </p>
            <p>
              In addition to backend applications, I also use Go for developing CLI tools that streamline my daily work.
            </p>
          </div>
        </Translation>
      </SkillDrawer>
      <SkillDrawer
        featuredTools={['ASP.NET', 'Blazor', 'WASM']}
        tools={['WebSockets', 'Mudblazor', 'Quartz.AspNetCore', 'MongoDB']}
      >
        <Translation slot="title">
          <span slot="de">C# & .NET</span>
          <span slot="en">C# & .NET</span>
        </Translation>
        <Translation slot="content">
          <span slot="de">
            Ich arbeite auch mit C# und .NET, um leistungsstarke und skalierbare Anwendungen zu entwickeln. Dabei nutze
            ich Tools wie ASP.NET, Blazor und WebAssembly, um top integrierte, effiziente und zuverlässige Anwendungen
            zu erstellen.
          </span>
          <span slot="en">
            I also work with C# and .NET to develop powerful and scalable applications. I use tools like ASP.NET,
            Blazor, and WebAssembly to create top-integrated, efficient, and reliable applications.
          </span>
        </Translation>
      </SkillDrawer>
      <SkillDrawer featuredTools={['Git', 'Github', 'Jira']} tools={['Confluence', 'BitBucket', 'Youtrack']}>
        <Translation slot="title">
          <span slot="de"> Versionskontrolle & Projektmanagement</span>
          <span slot="en">Version Control & Project management</span>
        </Translation>
        <Translation slot="content">
          <span slot="de">
            Ich bin erfahren im Umgang mit Versionskontrollsystemen wie Git und Projektmanagement-Tools wie Jira, um
            effizient und effektiv zu arbeiten.
          </span>
          <span slot="en">
            I'm experienced in working with version control systems like Git and project management tools like Jira to
            work efficiently and effectively.
          </span>
        </Translation>
      </SkillDrawer>
      <SkillDrawer
        featuredTools={['Docker', 'AWS', 'Github Actions']}
        tools={['Heroku', 'Bash', 'Bitbucket Pipelines']}
      >
        <Translation slot="title">
          <span slot="de">Deplyoment & CI/CD</span>
          <span slot="en">Deplyoment & CI/CD</span>
        </Translation>
        <Translation slot="content">
          <span slot="de">
            Ich bin erfahren im Streamlining von Bereitstellungsprozessen, indem ich Docker, AWS und GitHub Actions
            verwende, um Workflows zu automatisieren und reibungslose Übergänge von der Entwicklung zur Produktion
            sicherzustellen.
          </span>
          <span slot="en">
            I'm experienced in streamlining deployment processes, using Docker, AWS, and GitHub Actions to automate
            workflows and ensure smooth transitions from development to production.
          </span>
        </Translation>
      </SkillDrawer>
      <SkillDrawer featuredTools={['Rust', 'Kotlin', 'MQTT']} tools={['Redis', 'BullMQ', 'Swift', 'p5.js']}>
        <Translation slot="title">
          <span slot="de"> Andere Tools, Sprachen & Bibliotheken</span>
          <span slot="en">Other tools, languages & libraries</span>
        </Translation>
        <Translation slot="content">
          <span slot="de">
            Neben meinen Hauptfähigkeiten arbeite ich auch mit anderen Tools, Sprachen und Bibliotheken wie Rust, Kotlin
            und MQTT, um vielseitige und leistungsstarke Anwendungen zu entwickeln.
          </span>
          <span slot="en">
            In addition to my main skills, I also work with other tools, languages, and libraries like Rust, Kotlin, and
            MQTT to develop versatile and powerful applications.
          </span>
        </Translation>
      </SkillDrawer>
    </div>
  </section>
  <section class="section contact">
    <a id="contact" class="section-anchor">
      <Translation>
        <span slot="de">Kontakt</span>
        <span slot="en">Contact</span>
      </Translation>
    </a>
    <h2 class="section__header">
      <Translation>
        <span slot="de">Kontakt</span>
        <span slot="en">Contact</span>
      </Translation>
    </h2>
    <ul class="contact-container">
      <li class="contact__item contact__item--email">
        <div class="contact__logo">
          <Fragment set:html={emailLogo} />
        </div>
        <a class="contact__short-link" href="mailto:contact@fabiankachlock.dev">Email</a>
        <h3>Email</h3>
        <a class="contact__link" href="mailto:contact@fabiankachlock.dev">contact@fabiankachlock.dev</a>
      </li>
      <li class="contact__item contact__item--github">
        <div class="contact__logo">
          <Fragment set:html={githubLogo} />
        </div>
        <a class="contact__short-link" href="https://github.com/fabiankachlock">GitHub</a>
        <h3>GitHub</h3>
        <a class="contact__link" href="https://github.com/fabiankachlock">@fabiankachlock</a>
      </li>
      <li class="contact__item contact__item--instagram">
        <div class="contact__logo">
          <Fragment set:html={instagramLogo} />
        </div>
        <a class="contact__short-link" href="https://www.instagram.com/fabian.kachlock/">Instagram</a>
        <h3>Instagram</h3>
        <a class="contact__link" href="https://www.instagram.com/fabian.kachlock/">@fabian.kachlock</a>
      </li>
      <li class="contact__item contact__item--form">
        <div class="contact__logo">
          <Fragment set:html={formLogo} />
        </div>
        <LocalizedLink classes="contact__short-link" path="/kontakt">
          <Translation>
            <span slot="de">Kontaktformular</span>
            <span slot="en">Contact form</span>
          </Translation>
        </LocalizedLink>
        <h3>
          <LocalizedLink classes="contact__link" path="/kontakt">
            <Translation>
              <span slot="de">Kontaktformular</span>
              <span slot="en">Contact form</span>
            </Translation>
          </LocalizedLink>
        </h3>
      </li>
    </ul>
  </section>
  <section class="section projects">
    <a id="projects" class="section-anchor">
      <Translation>
        <span slot="de">Projekte</span>
        <span slot="en">Projects</span>
      </Translation>
    </a>
    <h2 class="section__header">
      <Translation>
        <span slot="de">Projekte</span>
        <span slot="en">Projects</span>
      </Translation>
    </h2>
    <div class="projects-container">
      <!-- {projects.map(p => <ProjectCard project={p} />)} -->
      <Translation>
        <p slot="de" style="font-family: 'Mona Sans'">Bald verfügbar</p>
        <p slot="en" style="font-family: 'Mona Sans'">Coming soon</p>
      </Translation>
    </div>
  </section>
</Main>

<style is:global>
  #info svg {
    height: 29px;
    fill: var(--color-primary);
    vertical-align: bottom;
  }

  .section-anchor {
    display: block;
    visibility: hidden;
    position: absolute;
    top: -100px;
  }

  .section__header {
    color: var(--color-text-header);
    font-family: 'Source Code Pro';
    font-weight: 400;
    font-size: 3rem;
    position: relative;
    margin: 0.5rem auto 2rem;
    max-width: 920px;
  }

  .section {
    padding: 1rem;
    position: relative;
  }

  @media only screen and (min-width: 720px) {
    .section {
      padding: 2rem;
    }
  }

  .section:not(:first-of-type) {
    border-top: 1px solid var(--color-text);
  }

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 100vh;
    min-height: 100dvh;
    gap: 2rem;
    padding: 0;
  }

  .hero__bar {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
  }

  .hero__image-wrapper {
    width: 100%;
    max-width: clamp(200px, 50vw, 300px);
    max-height: clamp(200px, 50vw, 300px);
    overflow: hidden;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
  }

  .hero__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .hero__intro {
    display: block;
    font-family: 'Source Code Pro';
    color: var(--color-text-header);
    font-weight: 300;
    font-size: 1.5rem;
  }

  .hero__descriptions {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
  }

  .hero__things {
    display: block;
    font-family: 'Source Code Pro';
    color: var(--color-text);
    opacity: 0.7;
    font-weight: 300;
    font-size: 1.5rem;
  }

  .hero__name {
    display: block;
    font-family: 'Source Code Pro';
    font-weight: 500;
    color: var(--color-primary);
    font-size: 2rem;
    position: relative;
  }

  @media only screen and (min-width: 360px) {
    .hero__name {
      font-size: 3rem;
    }

    .hero__things,
    .hero__intro {
      font-size: 1.75rem;
    }
  }

  @media only screen and (min-width: 720px) {
    .hero__name {
      font-size: 5rem;
    }

    .hero__things,
    .hero__intro {
      font-size: 2rem;
    }
  }

  @media only screen and (min-width: 1320px) {
    .hero__name {
      font-size: 7rem;
    }

    .hero__things,
    .hero__intro {
      font-size: 2.5rem;
    }
  }

  .hero__caret {
    display: block;
    position: absolute;
    background-color: var(--color-text);
    width: 1ch;
    height: 8px;
    bottom: 0px;
    animation: pulse 1.5s infinite;
  }

  @keyframes pulse {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .about {
    background-color: var(--color-bg-tint-3);
  }

  .about-container {
    max-width: 920px;
    margin: 0 auto;
  }

  .about-container p {
    font-family: 'Mona Sans';
    font-size: 1.4rem;
    line-height: 1.8em;
    margin-bottom: 0.5rem;
  }

  .skills {
    background-color: var(--color-bg-tint-2);
  }

  .skills-container {
    max-width: 920px;
    margin: 0 auto;
  }

  .contact {
    background-color: var(--color-primary-bg);
    color: var(--color-bg);
  }

  .contact .section__header {
    color: var(--color-bg);
  }

  .contact-container {
    padding: 0;
    list-style: none;
    margin: 0 auto;
    max-width: 920px;
  }

  .contact__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0.5rem 0;
    font-family: 'Mona Sans';
    font-size: 1.6rem;
  }

  .contact__item h3,
  .contact__link {
    display: none;
  }

  .contact__logo {
    width: 2rem;
    height: 2rem;
    padding: 1rem;
    background-color: var(--color-bg);
    border-radius: 50%;
    border: 1px solid var(--color-text);
    margin-right: 1rem;
    box-shadow: 3px 3px 0 0 var(--color-text);
    background-color: var(--color-surface);
  }

  .contact__logo svg {
    fill: var(--color-text);
    transition: scale 70ms ease-in-out;
  }

  .contact__short-link,
  .contact__link {
    font-family: 'Source Code Pro';
    color: var(--color-bg);
    margin-left: 0.5rem;
  }

  .contact__short-link:hover,
  .contact__link:hover {
    color: var(--color-secondary);
  }

  .contact__short-link:focus,
  .contact__link:focus {
    outline-color: var(--color-secondary);
  }

  .contact__item:hover .contact__logo svg {
    scale: 1.4;
  }

  @media only screen and (min-width: 380px) {
    .contact__item--instagram .contact__short-link,
    .contact__item--github .contact__short-link {
      display: none;
    }

    .contact__item--github .contact__link,
    .contact__item--instagram .contact__link {
      display: unset;
    }
  }

  @media only screen and (min-width: 540px) {
    .contact__item--email .contact__short-link {
      display: none;
    }

    .contact__item--email .contact__link {
      display: unset;
    }
  }

  @media only screen and (min-width: 640px) {
    .contact__item--email .contact__short-link {
      display: none;
    }

    .contact__item--email .contact__link,
    .contact__item h3 {
      display: unset;
    }

    .contact__item--form .contact__short-link {
      margin-left: 0;
    }
  }

  .projects {
    background-color: var(--color-bg-tint-1);
  }

  .projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
    gap: 1rem;
    justify-content: center;
    place-items: center;
    max-width: 920px;
    margin: 0 auto;
  }

  @media only screen and (min-width: 720px) {
    .projects-container {
      grid-template-columns: repeat(auto-fill, 310px);
    }
  }

  @media only screen and (min-width: 1130px) {
    .projects-container {
      grid-template-columns: repeat(auto-fill, 360px);
      gap: 2rem;
    }
  }

  @media only screen and (min-width: 1312px) {
    .projects-container {
      place-content: unset;
      justify-items: start;
    }
  }
</style>
