---
import { changeLanguage } from "i18next";
import { Image } from "astro:assets";
import Main from "@/layouts/Main.astro";
import meJpeg from "@/assets/me.jpeg";
import SkillDrawer from "@/components/home/SkillDrawer.astro";
import Translation from "@/components/Translation.astro";
// import ProjectCard from '@/components/home/ProjectCard.astro';
import githubLogo from "@carbon/icons/svg/32/logo--github.svg?raw";
import instagramLogo from "@carbon/icons/svg/32/logo--instagram.svg?raw";
import emailLogo from "@carbon/icons/svg/32/email.svg?raw";
import formLogo from "@carbon/icons/svg/32/pen.svg?raw";
import LocalizedLink from "@/components/LocalizedLink.astro";

changeLanguage("de");
---

<Main>
  <section class="section hero">
    <div class="hero__bar">
      <div class="hero__image-wrapper">
        <Image class="hero__image" src={meJpeg} alt="Me :)" />
      </div>
      <h1 class="hero__title">
        <span class="hero__intro">
          <Translation>
            <span slot="de">Hi, Ich bin</span>
            <span slot="en">Hi, I'm</span>
          </Translation>
        </span><br />
        <span class="hero__name">
          <span class="hero__caret"></span>
          Fabian
        </span>
        <br />
        <span class="hero__name">&emsp;Kachlock</span>
      </h1>
    </div>
    <div class="hero__descriptions">
      <p class="hero__things">&lt;Software Developer/&gt;</p>
      <p class="hero__things">&lt;Code Architect/&gt;</p>
      <p class="hero__things">&lt;Tech Enthusiast/&gt;</p>
    </div>
  </section>
  <section class="section about">
    <a id="about" class="section-anchor">
      <Translation>
        <span slot="de">Über</span>
        <span slot="en">About</span>
      </Translation>
    </a>
    <h2 class="section__header">
      <Translation>
        <span slot="de">Über mich</span>
        <span slot="en">About me</span>
      </Translation>
    </h2>
    <Translation>
      <div slot="en" class="about-container">
        <p>
          Hi, I'm Fabian Kachlock, a 20 years old Software Developer from Germany with about <span id="experience"
            >5</span
          > years of experience in mainly web development.
        </p>
        <p>
          My focus lies in crafting user-friendly interfaces and robust back-end systems. I'm well-versed in a variety
          of technologies, including TypeScript for writing clean and scalable code, along with tools like Prettier and
          ESLint to maintain code quality.
        </p>
        <p>
          On the front end, I work with frameworks like Vue, React, and Angular, as well as the basics: HTML, CSS, and
          JavaScript. For the back end, I'm proficient with Node.js, C#, and Golang to build efficient and scalable
          applications.
        </p>
        <p>
          I'm also keen on streamlining deployment processes, using Docker, Git, GitHub, and GitHub Actions to automate
          workflows and ensure smooth transitions from development to production.
        </p>
        <p>
          I'm committed to delivering top-notch solutions while continuously learning and improving along the way.
          Looking forward to contributing my skills and collaborating with others in the tech community.
        </p>
      </div>
      <div slot="de" class="about-container">
        <p>
          Hallo, ich bin Fabian Kachlock, ein 20 Jahre alter Softwareentwickler aus Deutschland mit etwa 6 Jahren
          Erfahrung hauptsächlich in der Webentwicklung.
        </p>
        <p>
          Mein Fokus liegt darauf, benutzerfreundliche Oberflächen und robuste Back-End-Systeme zu entwickeln. Ich bin
          mit einer Vielzahl von Technologien vertraut, darunter TypeScript, um sauberen und skalierbaren Code zu
          schreiben, sowie Tools wie Prettier und ESLint, um die Codequalität zu gewährleisten.
        </p>
        <p>
          Auf der Front-End-Seite arbeite ich mit Frameworks wie Vue, React und Angular sowie den Grundlagen: HTML, CSS
          und JavaScript. Für das Backend beherrsche ich Node.js, C# und Golang, um effiziente und skalierbare
          Anwendungen zu entwickeln.
        </p>
        <p>
          Ich bin auch darauf bedacht, Bereitstellungsprozesse zu optimieren, indem ich Docker, Git, GitHub und GitHub
          Actions verwende, um Workflows zu automatisieren und reibungslose Übergänge von der Entwicklung zur Produktion
          sicherzustellen.
        </p>
        <p>
          Ich bin bestrebt, erstklassige Lösungen zu liefern, während ich kontinuierlich dazulerne und mich verbessere.
          Ich freue mich darauf, meine Fähigkeiten einzubringen und mit anderen in der Tech-Community
          zusammenzuarbeiten.
        </p>
      </div>
    </Translation>
  </section>
  <section class="section skills">
    <a id="skills" class="section-anchor">
      <Translation>
        <span slot="de">Skills</span>
        <span slot="en">Skills</span>
      </Translation>
    </a>
    <h2 class="section__header">
      <Translation>
        <span slot="de">Skills</span>
        <span slot="en">Skills</span>
      </Translation>
    </h2>
    <div class="skills-container">
      <SkillDrawer
        featuredTools={['HTML', 'CSS', 'JS', 'TS']}
        tools={['Web APIs', 'express', 'Nestjs', 'Electron', 'eslint', 'prettier', 'jest', 'Cypress']}
      >
        <Translation slot="title">
          <span slot="de">Grundlagen der Web-Entwicklung</span>
          <span slot="en">Webdevelopment essentials</span>
        </Translation>
        <Translation slot="content">
          <span slot="de"
            >Ich beherrsche die Grundlagen der Webentwicklung und erstelle dynamische und visuell beeindruckende
            Webseiten mit HTML, CSS, und JavaScript. Von der Erstellung von REST-vollen APIs mit Express bis zur
            Durchführung von gründlichen Tests mit Jest und Cypress sorge ich für hochwertige und zuverlässige
            Anwendungen.</span
          >
          <span slot="en">
            Mastering the basics of web development, I create dynamic and visually stunning websites using HTML, CSS,
            and JavaScript. From building RESTful APIs with Express to conducting thorough testing with Jest and
            Cypress, I ensure high-quality and reliable applications.
          </span>
        </Translation>
      </SkillDrawer>
      <SkillDrawer featuredTools={['vite', 'pinia', 'vuetify', 'vue-i18n']} tools={['tailwindcss', 'vue-router']}>
        <Translation slot="title">
          <span slot="de">Vue.js - mein bevorzugtes Frontend-Framework</span>
          <span slot="en">Vue.js - my frontend framework of choice</span>
        </Translation>
        <Translation slot="content">
          <span slot="de">
            Vue.js ist mein bevorzugtes Frontend-Framework, um benutzerfreundliche und interaktive Oberflächen zu
            entwickeln. Ich arbeite mit Tools wie Vite, Pinia und Vuetify, um effiziente und skalierbare Anwendungen zu
            erstellen.
          </span>
          <span slot="en">
            Vue.js is my preferred frontend framework for developing user-friendly and interactive interfaces. I work
            with tools like Vite, Pinia, and Vuetify to build efficient and scalable applications.
          </span>
        </Translation>
      </SkillDrawer>
      <SkillDrawer featuredTools={['Astro', 'React', 'Angular']} tools={['Nuxt.js', 'Alpinejs']}>
        <Translation slot="title">
          <span slot="de">Andere Frontend-Frameworks</span>
          <span slot="en">Other frontend frameworks</span>
        </Translation>
        <Translation slot="content">
          <span slot="de">
            Neben Vue.js arbeite ich auch mit anderen Frontend-Frameworks wie React und Angular, um vielseitige und
            leistungsstarke Anwendungen zu entwickeln.
          </span>
          <span slot="en">
            In addition to Vue.js, I also work with other frontend frameworks like React and Angular to develop
            versatile and powerful applications.
          </span>
        </Translation>
      </SkillDrawer>
      <SkillDrawer
        featuredTools={['fiber', 'go-cron', 'SSE']}
        tools={['WebSockets', 'golang-migrate', 'Postgresql', 'MongoDB']}
      >
        <Translation slot="title">
          <span slot="de">Golang - meine bevorzugte Backend-Sprache</span>
          <span slot="en">Golang - my backend language of choice</span>
        </Translation>
        <Translation slot="content">
          <span slot="de">
            Golang ist meine bevorzugte Backend-Sprache, um effiziente und skalierbare Anwendungen zu entwickeln. Ich
            arbeite mit Tools wie Fiber, go-cron und SSE, um robuste und zuverlässige Back-End-Systeme zu erstellen.
          </span>
          <span slot="en">
            Golang is my preferred backend language for developing efficient and scalable applications. I work with
            tools like Fiber, go-cron, and SSE to build robust and reliable back-end systems.
          </span>
        </Translation>
      </SkillDrawer>
      <SkillDrawer
        featuredTools={['ASP.NET', 'Blazor', 'WASM']}
        tools={['WebSockets', 'Mudblazor', 'Quartz.AspNetCore', 'MongoDB']}
      >
        <Translation slot="title">
          <span slot="de">C# & .NET</span>
          <span slot="en">C# & .NET</span>
        </Translation>
        <Translation slot="content">
          <span slot="de">
            Ich arbeite auch mit C# und .NET, um leistungsstarke und skalierbare Anwendungen zu entwickeln. Dabei nutze
            ich Tools wie ASP.NET, Blazor und WebAssembly, um top integrierte, effiziente und zuverlässige Anwendungen
            zu erstellen.
          </span>
          <span slot="en">
            I also work with C# and .NET to develop powerful and scalable applications. I use tools like ASP.NET,
            Blazor, and WebAssembly to create top-integrated, efficient, and reliable applications.
          </span>
        </Translation>
      </SkillDrawer>
      <SkillDrawer featuredTools={['Git', 'Github', 'Jira']} tools={['Confluence', 'BitBucket', 'Youtrack']}>
        <Translation slot="title">
          <span slot="de"> Versionskontrolle & Projektmanagement</span>
          <span slot="en">Version Control & Project management</span>
        </Translation>
        <Translation slot="content">
          <span slot="de">
            Ich bin erfahren im Umgang mit Versionskontrollsystemen wie Git und Projektmanagement-Tools wie Jira, um
            effizient und effektiv zu arbeiten.
          </span>
          <span slot="en">
            I'm experienced in working with version control systems like Git and project management tools like Jira to
            work efficiently and effectively.
          </span>
        </Translation>
      </SkillDrawer>
      <SkillDrawer
        featuredTools={['Docker', 'AWS', 'Github Actions']}
        tools={['Heroku', 'Bash', 'Bitbucket Pipelines']}
      >
        <Translation slot="title">
          <span slot="de">Deplyoment & CI/CD</span>
          <span slot="en">Deplyoment & CI/CD</span>
        </Translation>
        <Translation slot="content">
          <span slot="de">
            Ich bin erfahren im Streamlining von Bereitstellungsprozessen, indem ich Docker, AWS und GitHub Actions
            verwende, um Workflows zu automatisieren und reibungslose Übergänge von der Entwicklung zur Produktion
            sicherzustellen.
          </span>
          <span slot="en">
            I'm experienced in streamlining deployment processes, using Docker, AWS, and GitHub Actions to automate
            workflows and ensure smooth transitions from development to production.
          </span>
        </Translation>
      </SkillDrawer>
      <SkillDrawer featuredTools={['Rust', 'Kotlin', 'MQTT']} tools={['Redis', 'BullMQ', 'Swift', 'p5.js']}>
        <Translation slot="title">
          <span slot="de"> Andere Tools, Sprachen & Bibliotheken</span>
          <span slot="en">Other tools, languages & libraries</span>
        </Translation>
        <Translation slot="content">
          <span slot="de">
            Neben meinen Hauptfähigkeiten arbeite ich auch mit anderen Tools, Sprachen und Bibliotheken wie Rust, Kotlin
            und MQTT, um vielseitige und leistungsstarke Anwendungen zu entwickeln.
          </span>
          <span slot="en">
            In addition to my main skills, I also work with other tools, languages, and libraries like Rust, Kotlin, and
            MQTT to develop versatile and powerful applications.
          </span>
        </Translation>
      </SkillDrawer>
    </div>
  </section>
  <section class="section contact">
    <a id="contact" class="section-anchor">Contact</a>
    <h2 class="section__header">
      <span>Contact</span>
    </h2>
    <ul class="contact-container">
      <li class="contact__item contact__item--email">
        <div class="contact__logo">
          <Fragment set:html={emailLogo} />
        </div>
        <a class="contact__short-link" href="mailto:contact@fabiankachlock.dev">Email</a>
        <h3>Email</h3>
        <a class="contact__link" href="mailto:contact@fabiankachlock.dev">contact@fabiankachlock.dev</a>
      </li>
      <li class="contact__item contact__item--github">
        <div class="contact__logo">
          <Fragment set:html={githubLogo} />
        </div>
        <a class="contact__short-link" href="https://github.com/fabiankachlock">GitHub</a>
        <h3>GitHub</h3>
        <a class="contact__link" href="https://github.com/fabiankachlock">@fabiankachlock</a>
      </li>
      <li class="contact__item contact__item--instagram">
        <div class="contact__logo">
          <Fragment set:html={instagramLogo} />
        </div>
        <a class="contact__short-link" href="https://www.instagram.com/fabian.kachlock/">Instagram</a>
        <h3>Instagram</h3>
        <a class="contact__link" href="https://www.instagram.com/fabian.kachlock/">@fabian.kachlock</a>
      </li>
      <li class="contact__item contact__item--form">
        <div class="contact__logo">
          <Fragment set:html={formLogo} />
        </div>
        <LocalizedLink classes="contact__short-link" path="/kontakt">
          <Translation>
            <span slot="de">Kontaktformular</span>
            <span slot="en">Contact form</span>
          </Translation>
        </LocalizedLink>
        <h3>
          <LocalizedLink classes="contact__link" path="/kontakt">
            <Translation>
              <span slot="de">Kontaktformular</span>
              <span slot="en">Contact form</span>
            </Translation>
          </LocalizedLink>
        </h3>
      </li>
    </ul>
  </section>
  <section class="section projects">
    <a id="projects" class="section-anchor">
      <Translation>
        <span slot="de">Projekte</span>
        <span slot="en">Projects</span>
      </Translation>
    </a>
    <h2 class="section__header">
      <Translation>
        <span slot="de">Projekte</span>
        <span slot="en">Projects</span>
      </Translation>
    </h2>
    <div class="projects-container">
      <!-- {projects.map(p => <ProjectCard project={p} />)} -->
      <Translation>
        <p slot="de" style="font-family: 'Mona Sans'">Bald verfügbar</p>
        <p slot="en" style="font-family: 'Mona Sans'">Coming soon</p>
      </Translation>
    </div>
  </section>
</Main>

<style is:global>
  .section-anchor {
    display: block;
    visibility: hidden;
    position: absolute;
    top: -100px;
  }

  .section__header {
    color: var(--color-text-header);
    font-family: 'Source Code Pro';
    font-weight: 400;
    font-size: 3rem;
    position: relative;
    margin: 0.5rem auto 2rem;
    max-width: 920px;
  }

  .section {
    padding: 1rem;
    position: relative;
  }

  @media only screen and (min-width: 720px) {
    .section {
      padding: 2rem;
    }
  }

  .section:not(:first-of-type) {
    border-top: 1px solid var(--color-text);
  }

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 100vh;
    min-height: 100dvh;
    gap: 2rem;
    padding: 0;
  }

  .hero__bar {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
  }

  .hero__image-wrapper {
    width: 100%;
    max-width: clamp(200px, 50vw, 300px);
    max-height: clamp(200px, 50vw, 300px);
    overflow: hidden;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
  }

  .hero__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .hero__intro {
    display: block;
    font-family: 'Source Code Pro';
    color: var(--color-text-header);
    font-weight: 300;
    font-size: 1.5rem;
  }

  .hero__descriptions {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
  }

  .hero__things {
    display: block;
    font-family: 'Source Code Pro';
    color: var(--color-text);
    opacity: 0.7;
    font-weight: 300;
    font-size: 1.5rem;
  }

  .hero__name {
    display: block;
    font-family: 'Source Code Pro';
    font-weight: 500;
    color: var(--color-primary);
    font-size: 2rem;
    position: relative;
  }

  @media only screen and (min-width: 360px) {
    .hero__name {
      font-size: 3rem;
    }

    .hero__things,
    .hero__intro {
      font-size: 1.75rem;
    }
  }

  @media only screen and (min-width: 720px) {
    .hero__name {
      font-size: 5rem;
    }

    .hero__things,
    .hero__intro {
      font-size: 2rem;
    }
  }

  @media only screen and (min-width: 1320px) {
    .hero__name {
      font-size: 7rem;
    }

    .hero__things,
    .hero__intro {
      font-size: 2.5rem;
    }
  }

  .hero__caret {
    display: block;
    position: absolute;
    background-color: var(--color-text);
    width: 1ch;
    height: 8px;
    bottom: 0px;
    animation: pulse 1.5s infinite;
  }

  @keyframes pulse {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .about {
    background-color: var(--color-bg-tint-3);
  }

  .about-container {
    max-width: 920px;
    margin: 0 auto;
  }

  .about-container p {
    font-family: 'Mona Sans';
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-bottom: 0.5rem;
  }

  .skills {
    background-color: var(--color-bg-tint-2);
  }

  .skills-container {
    max-width: 920px;
    margin: 0 auto;
  }

  .contact {
    background-color: var(--color-primary-bg);
    color: var(--color-bg);
  }

  .contact .section__header {
    color: var(--color-bg);
  }

  .contact-container {
    padding: 0;
    list-style: none;
    margin: 0 auto;
    max-width: 920px;
  }

  .contact__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0.5rem 0;
    font-family: 'Mona Sans';
    font-size: 1.6rem;
  }

  .contact__item h3,
  .contact__link {
    display: none;
  }

  .contact__logo {
    width: 2rem;
    height: 2rem;
    padding: 1rem;
    background-color: var(--color-bg);
    border-radius: 50%;
    border: 1px solid var(--color-text);
    margin-right: 1rem;
    box-shadow: 3px 3px 0 0 var(--color-text);
    background-color: var(--color-surface);
  }

  .contact__logo svg {
    fill: var(--color-text);
    transition: scale 70ms ease-in-out;
  }

  .contact__short-link,
  .contact__link {
    font-family: 'Source Code Pro';
    color: var(--color-bg);
    margin-left: 0.5rem;
  }

  .contact__short-link:hover,
  .contact__link:hover {
    color: var(--color-secondary);
  }

  .contact__item:hover .contact__logo svg {
    scale: 1.4;
  }

  @media only screen and (min-width: 380px) {
    .contact__item--instagram .contact__short-link,
    .contact__item--github .contact__short-link {
      display: none;
    }

    .contact__item--github .contact__link,
    .contact__item--instagram .contact__link {
      display: unset;
    }
  }

  @media only screen and (min-width: 540px) {
    .contact__item--email .contact__short-link {
      display: none;
    }

    .contact__item--email .contact__link {
      display: unset;
    }
  }

  @media only screen and (min-width: 640px) {
    .contact__item--email .contact__short-link {
      display: none;
    }

    .contact__item--email .contact__link,
    .contact__item h3 {
      display: unset;
    }

    .contact__item--form .contact__short-link {
      margin-left: 0;
    }
  }

  .projects {
    background-color: var(--color-bg-tint-1);
  }

  .projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
    gap: 1rem;
    justify-content: center;
    place-items: center;
    max-width: 920px;
    margin: 0 auto;
  }

  @media only screen and (min-width: 720px) {
    .projects-container {
      grid-template-columns: repeat(auto-fill, 310px);
    }
  }

  @media only screen and (min-width: 1130px) {
    .projects-container {
      grid-template-columns: repeat(auto-fill, 360px);
      gap: 2rem;
    }
  }

  @media only screen and (min-width: 1312px) {
    .projects-container {
      place-content: unset;
      justify-items: start;
    }
  }
</style>
