---
import { changeLanguage } from 'i18next';
import { Image } from 'astro:assets';
import Main from '@/layouts/Main.astro';
import meJpeg from '@/assets/me.jpeg';
import SkillDrawer from '@/components/home/SkillDrawer.astro';
import Translation from '@/components/Translation.astro';
import ProjectCard from '@/components/home/ProjectCard.astro';
import githubLogo from '@carbon/icons/svg/32/logo--github.svg?raw';
import instagramLogo from '@carbon/icons/svg/32/logo--instagram.svg?raw';
import emailLogo from '@carbon/icons/svg/32/email.svg?raw';
import { getPreviewProjects } from '@/content/projects';

changeLanguage('de');

const projects = await getPreviewProjects();
---

<Main>
  <section class="section hero">
    <div class="hero__bar">
      <div class="hero__image-wrapper">
        <Image class="hero__image" src={meJpeg} alt="Me :)" />
      </div>
      <h1 class="hero__title">
        <span class="hero__intro">
          <Translation>
            <span slot="de">Hi, Ich bin</span>
            <span slot="en">Hi, I'm</span>
          </Translation>
        </span><br />
        <span class="hero__name">
          <span class="hero__caret"></span>
           Fabian
        </span>
        <br />
        <span class="hero__name">&emsp;Kachlock</span>
      </h1>
    </div>
    <div class="hero__descriptions">
      <p class="hero__things">&lt;Software Developer/&gt;</p>
      <p class="hero__things">&lt;Code Architect/&gt;</p>
      <p class="hero__things">&lt;Tech Enthusiast/&gt;</p>
    </div>
  </section>
  <section class="section about">
    <a id="about" class="section-anchor">
      <Translation>
        <span slot="de">Über</span>
        <span slot="en">About</span>
      </Translation>
    </a>
    <h2 class="section__header">
      <Translation>
        <span slot="de">Über</span>
        <span slot="en">About</span>
      </Translation>
    </h2>
    <div class="about-container">
      <p>
        Hi, I'm Fabian Kachlock, a 20 years old Software Developer from Germany with about <span id="experience">5</span> years of experience in mainly web development.
      </p>
    </div>
  </section>
  <section class="section skills">
    <a id="skills" class="section-anchor">
      <Translation>
        <span slot="de">Skills</span>
        <span slot="en">Skills</span>
      </Translation>
    </a>
    <h2 class="section__header">
      <Translation>
        <span slot="de">Skills</span>
        <span slot="en">Skills</span>
      </Translation>
    </h2>
    <div class="skills-container">
      <SkillDrawer
        featuredTools={['HTML', 'CSS', 'JS', 'TS']}
        tools={['Web APIs', 'express', 'Nestjs', 'Electron', 'eslint', 'prettier', 'jest', 'Cypress']}
      >
        <Translation slot="title">
          <span slot="de">Webdevelopment Basics</span>
          <span slot="en">Webdevelopment Basics</span>
        </Translation>
        <Translation slot="content">
          <span slot="de"
            >Webdevelopment Basics is great and this here has to mimic some long text explaining whats going on...</span
          >
          <span slot="en"
            >Webdevelopment Basics is great and this here has to mimic some long text explaining whats going on...</span
          >
        </Translation>
      </SkillDrawer>
      <SkillDrawer featuredTools={['vite', 'pinia', 'vuetify', 'vue-i18n']} tools={['tailwindcss', 'vue-router']}>
        <Translation slot="title">
          <span slot="de">Vue.js - my frontend framework of choice</span>
          <span slot="en">Vue.js - my frontend framework of choice</span>
        </Translation>
        <Translation slot="content">
          <span slot="de">BLA</span>
          <span slot="en">BLA</span>
        </Translation>
      </SkillDrawer>
      <SkillDrawer featuredTools={['Astro', 'React', 'Angular']} tools={['Nuxt.js', 'Alpinejs']}>
        <Translation slot="title">
          <span slot="de">Other frontend frameworks</span>
          <span slot="en">Other frontend frameworks</span>
        </Translation>
        <Translation slot="content">
          <span slot="de">BLA</span>
          <span slot="en">BLA</span>
        </Translation>
      </SkillDrawer>
      <SkillDrawer
        featuredTools={['fiber', 'go-cron', 'SSE']}
        tools={['WebSockets', 'golang-migrate', 'Postgresql', 'MongoDB']}
      >
        <Translation slot="title">
          <span slot="de">Golang - my backend language of choice</span>
          <span slot="en">Golang - my backend language of choice</span>
        </Translation>
        <Translation slot="content">
          <span slot="de">BLA</span>
          <span slot="en">BLA</span>
        </Translation>
      </SkillDrawer>
      <SkillDrawer
        featuredTools={['ASP.NET', 'Blazor', 'WASM']}
        tools={['WebSockets', 'Mudblazor', 'Quartz.AspNetCore', 'MongoDB']}
      >
        <Translation slot="title">
          <span slot="de">C# & .NET</span>
          <span slot="en">C# & .NET</span>
        </Translation>
        <Translation slot="content">
          <span slot="de">BLA</span>
          <span slot="en">BLA</span>
        </Translation>
      </SkillDrawer>
      <SkillDrawer featuredTools={['Git', 'Github', 'Jira']} tools={['Confluence', 'BitBucket', 'Youtrack']}>
        <Translation slot="title">
          <span slot="de">Version Control & Project management</span>
          <span slot="en">Version Control & Project management</span>
        </Translation>
        <Translation slot="content">
          <span slot="de">BLA</span>
          <span slot="en">BLA</span>
        </Translation>
      </SkillDrawer>
      <SkillDrawer
        featuredTools={['Docker', 'AWS', 'Github Actions']}
        tools={['Heroku', 'Bash', 'Bitbucket Pipelines']}
      >
        <Translation slot="title">
          <span slot="de">Deplyoment & CI/CD</span>
          <span slot="en">Deplyoment & CI/CD</span>
        </Translation>
        <Translation slot="content">
          <span slot="de">BLA</span>
          <span slot="en">BLA</span>
        </Translation>
      </SkillDrawer>
      <SkillDrawer featuredTools={['Rust', 'Kotlin', 'MQTT']} tools={['Redis', 'BullMQ', 'Swift', 'p5.js']}>
        <Translation slot="title">
          <span slot="de">Other tools, languages & libraries</span>
          <span slot="en">Other tools, languages & libraries</span>
        </Translation>
        <Translation slot="content">
          <span slot="de">BLA</span>
          <span slot="en">BLA</span>
        </Translation>
      </SkillDrawer>
    </div>
  </section>
  <section class="section contact">
    <a id="contact" class="section-anchor">Contact</a>
    <h2 class="section__header">
      <span>Contact</span>
    </h2>
    <ul class="contact-container">
      <li class="contact__item contact__item--email">
        <div class="contact__logo">
          <Fragment set:html={emailLogo} />
        </div>
        <a class="contact__short-link" href="mailto:contact@fabiankachlock.dev">Email</a>
        <h3>Email</h3>
        <a class="contact__link" href="mailto:contact@fabiankachlock.dev">contact@fabiankachlock.dev</a>
      </li>
      <li class="contact__item contact__item--github">
        <div class="contact__logo">
          <Fragment set:html={githubLogo} />
        </div>
        <a class="contact__short-link" href="https://github.com/fabiankachlock">GitHub</a>
        <h3>GitHub</h3>
        <a class="contact__link" href="https://github.com/fabiankachlock">@fabiankachlock</a>
      </li>
      <li class="contact__item contact__item--instagram">
        <div class="contact__logo">
          <Fragment set:html={instagramLogo} />
        </div>
        <a class="contact__short-link" href="https://www.instagram.com/fabian.kachlock/">Instagram</a>
        <h3>Instagram</h3>
        <a class="contact__link" href="https://www.instagram.com/fabian.kachlock/">@fabian.kachlock</a>
      </li>
    </ul>
  </section>
  <section class="section projects">
    <a id="projects" class="section-anchor">
      <Translation>
        <span slot="de">Projekte</span>
        <span slot="en">Projects</span>
      </Translation>
    </a>
    <h2 class="section__header">
      <Translation>
        <span slot="de">Projekte</span>
        <span slot="en">Projects</span>
      </Translation>
    </h2>
    <div class="projects-container">
      {projects.map(p => <ProjectCard project={p} />)}
    </div>
  </section>
</Main>

<style>
  .section-anchor {
    display: block;
    visibility: hidden;
    position: absolute;
    top: -100px;
  }

  .section__header {
    color: var(--color-text-header);
    font-family: 'Source Code Pro';
    font-weight: 400;
    font-size: 3rem;
    position: relative;
    margin: 0;
    margin-bottom: 1.5rem;
  }

  .section {
    padding: 1rem;
    position: relative;
  }

  @media only screen and (min-width: 720px) {
    .section {
      padding: 2rem;
    }
  }

  .section:not(:first-of-type) {
    border-top: 1px solid var(--color-text);
  }

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 100vh;
    min-height: 100dvh;
    gap: 2rem;
    padding: 0;
  }

  .hero__bar {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
  }

  .hero__image-wrapper {
    width: 100%;
    max-width: clamp(200px, 50vw, 300px);
    max-height: clamp(200px, 50vw, 300px);
    overflow: hidden;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
  }

  .hero__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .hero__intro {
    display: block;
    font-family: 'Source Code Pro';
    color: var(--color-text-header);
    font-weight: 300;
    font-size: 1.5rem;
  }

  .hero__descriptions {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
  }

  .hero__things {
    display: block;
    font-family: 'Source Code Pro';
    color: var(--color-text);
    opacity: 0.7;
    font-weight: 300;
    font-size: 1.5rem;
  }

  .hero__name {
    display: block;
    font-family: 'Source Code Pro';
    font-weight: 500;
    color: var(--color-primary);
    font-size: 2rem;
    position: relative;
  }

  @media only screen and (min-width: 360px) {
    .hero__name {
      font-size: 3rem;
    }

    .hero__things,
    .hero__intro {
      font-size: 1.75rem;
    }
  }

  @media only screen and (min-width: 720px) {
    .hero__name {
      font-size: 5rem;
    }

    .hero__things,
    .hero__intro {
      font-size: 2rem;
    }
  }

  @media only screen and (min-width: 1320px) {
    .hero__name {
      font-size: 7rem;
    }

    .hero__things,
    .hero__intro {
      font-size: 2.5rem;
    }
  }

  .hero__caret {
    display: block;
    position: absolute;
    background-color: var(--color-text);
    width: 1ch;
    height: 8px;
    bottom: 0px;
    animation: pulse 1.5s infinite;
  }

  @keyframes pulse {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .about {
    background-color: var(--color-bg-tint-3);
  }

  .skills {
    background-color: var(--color-bg-tint-2);
  }

  :global(.fullscreen) .skills-container,
  :global(.fullscreen) .projects-container,
  :global(.fullscreen) .about-container,
  :global(.fullscreen) .contact-container,
  :global(.fullscreen) .section__header {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }

  .contact {
    background-color: var(--color-primary-bg);
    color: var(--color-bg);
  }

  .contact .section__header {
    color: var(--color-bg);
  }

  .contact-container {
    padding: 0;
    list-style: none;
    margin: 0;
  }

  .contact__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0.5rem 0;
    font-family: 'Mona Sans';
    font-size: 1.6rem;
  }

  .contact__item h3,
  .contact__link {
    display: none;
  }

  .contact__logo {
    width: 2rem;
    height: 2rem;
    padding: 1rem;
    background-color: var(--color-bg);
    border-radius: 50%;
    border: 1px solid var(--color-text);
    margin-right: 1rem;
    box-shadow: 3px 3px 0 0 var(--color-text);
    background-color: var(--color-surface);
  }

  .contact__logo :global(svg) {
    fill: var(--color-text);
    transition: scale 70ms ease-in-out;
  }

  .contact__short-link,
  .contact__link {
    font-family: 'Source Code Pro';
    color: var(--color-bg);
    margin-left: 0.5rem;
  }

  .contact__short-link:hover,
  .contact__link:hover {
    color: var(--color-secondary);
  }

  .contact__item:hover .contact__logo :global(svg) {
    scale: 1.4;
  }

  @media only screen and (min-width: 380px) {
    .contact__item--instagram .contact__short-link,
    .contact__item--github .contact__short-link {
      display: none;
    }

    .contact__item--github .contact__link,
    .contact__item--instagram .contact__link {
      display: unset;
    }
  }

  @media only screen and (min-width: 540px) {
    .contact__item--email .contact__short-link {
      display: none;
    }

    .contact__item--email .contact__link {
      display: unset;
    }
  }

  @media only screen and (min-width: 640px) {
    .contact__item--email .contact__short-link {
      display: none;
    }

    .contact__item--email .contact__link,
    .contact__item h3 {
      display: unset;
    }
  }

  .projects {
    background-color: var(--color-bg-tint-1);
  }

  .projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
    gap: 1rem;
    justify-content: center;
    place-items: center;
  }

  @media only screen and (min-width: 720px) {
    .projects-container {
      grid-template-columns: repeat(auto-fill, 310px);
    }
  }

  @media only screen and (min-width: 1130px) {
    .projects-container {
      grid-template-columns: repeat(auto-fill, 360px);
      gap: 2rem;
    }
  }

  @media only screen and (min-width: 1312px) {
    .projects-container {
      place-content: unset;
      justify-items: start;
    }
  }
</style>
