---
import { extractSlug, type LocalizedProject } from '@/content/projects';
import { localizePath } from 'astro-i18next';
import { Image } from 'astro:assets';
import i18next from 'i18next';
import Translation from '../Translation.astro';
import SocialLink from '../common/SocialLink.astro';
import TechPill from '../common/TechPill.astro';

export type Props = {
  project: LocalizedProject;
};

const { project: projectData } = Astro.props;
const translatedData = projectData[i18next.language] ?? projectData[Object.keys(projectData)[0]!];
const slugData = extractSlug(translatedData!.slug);
const link = localizePath(`/projekte/${slugData.id}`, slugData.lang);
const project = translatedData!.data;
---

<div class="project-card">
  <div class="project-card__wrapper">
    <p class="project-card__year">{project?.year}</p>
    <div class="project-card__image-wrapper">
      <Image
        class="project-card__image"
        src={project.cover}
        alt={project.coverAlt}
        transition:name={`project-image:${translatedData?.slug}`}
      />
    </div>
    <div class="project-card__divider"></div>
    <div class="project-card__content">
      <div class="project-card__title">
        <h3 transition:name={`project-title:${translatedData?.slug}`}>{project?.title}</h3>
      </div>
      <div class="project-card__description">
        <p>{project?.description}</p>
      </div>
      <div class="project-card__tools">
        {project?.technologies.map(name => <TechPill tech={name} />)}
      </div>
      <div class="project-card__footer">
        <div class="project-card__socials">
          {project.socials?.web && <SocialLink href={project.socials?.web} type="web" />}
          {project.socials?.github && <SocialLink href={project.socials?.github} type="github" />}
          {project.socials?.link && <SocialLink href={project.socials?.link} type="link" />}
        </div>
        <a class="project-card__read" href={link}>
          <Translation>
            <span slot="de">Mehr erfahren</span>
            <span slot="en">Read more</span>
          </Translation>
        </a>
      </div>
    </div>
  </div>
</div>

<style>
  .project-card {
    background-color: var(--color-bg);
    border: 1px solid var(--color-text);
    border-radius: 5px;
    max-width: 400px;
    z-index: 10;
    transition:
      box-shadow 140ms linear,
      border 140ms linear;
  }

  @media only screen and (min-width: 720px) {
    .project-card {
      max-width: 360px;
    }
  }

  .project-card:hover {
    background-color: var(--color-surface);
    border: 2px solid var(--color-text);
    max-width: 398px;
    box-shadow:
      4px 4px 0 0 var(--color-text),
      0 0 8rem -3rem var(--color-primary);
    z-index: 1;
  }

  .project-card:hover .project-card__wrapper {
    border: 0px solid transparent;
  }

  .project-card__wrapper {
    display: block;
    color: var(--color-text);
    text-decoration: none;
    border: 1px solid transparent;
    padding: 1rem;
    position: relative;
    transition: border 140ms linear;
  }

  .project-card__image-wrapper {
    max-height: 300px;
    overflow: hidden;
    height: 100%;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }

  .project-card__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }

  .project-card__divider {
    height: 2px;
    width: 100%;
    background: var(--color-text);
  }

  .project-card__content {
    position: relative;
    margin-top: 1rem;
  }

  .project-card__year {
    font-size: 1.3rem;
    font-family: 'Mona Sans';
    font-weight: 300;
    color: var(--color-text);
    position: absolute;
    right: -1px;
    top: -1px;
    background: var(--color-bg);
    padding: 0.5rem 0.5rem 0.25rem;
    border: 1px solid var(--color-text);
    border-radius: 2px;
    border-top-color: var(--color-bg);
    border-right-color: var(--color-bg);
    border-top-right-radius: 5px;
    z-index: 100;
    transition: border 140ms linear;
  }

  .project-card:hover .project-card__year {
    border-top-color: var(--color-text);
    border-right-color: var(--color-text);
  }

  .project-card__title {
    font-size: 2.5rem;
    font-family: 'Mona Sans';
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: var(--color-text-header);
  }

  .project-card__description {
    font-size: 1.25rem;
    font-family: 'Mona Sans';
    margin-bottom: 1rem;
    color: var(--color-text);
  }

  .project-card__tools {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem 0;
    margin-top: 1.5rem;
  }

  .project-card__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
  }

  .project-card__socials {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
  }

  .project-card__read {
    font-size: 1.2rem;
    font-family: 'Mona Sans';
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    background: none;
    color: var(--color-text);
    border: 2px solid var(--color-text);
    background-color: var(--color-surface);
    padding: 0.6rem 1.3rem;
    transition:
      box-shadow 70ms linear,
      translate 70ms linear;
    box-shadow:
      0px 0px 0 -1px var(--color-surface),
      0px 0px var(--color-text);
  }

  .project-card__read:hover {
    translate: -5px -5px;
    background-color: var(--color-primary);
    color: var(--color-primary-text);
    box-shadow:
      5px 5px 0 -2px var(--color-surface),
      5px 5px var(--color-text);
  }
</style>
