---
import arrowUpRightIcon from '@carbon/icons/svg/32/arrow--up-right.svg?raw';
import homeIcon from '@carbon/icons/svg/32/home.svg?raw';
// import galleryIcon from '@carbon/icons/svg/32/image.svg?raw';
import i18next, { t } from 'i18next';

import DynamicImage from '@/components/common/DynamicImage.astro';
import ProjectLinks from '@/components/common/ProjectLinks.astro';
import TechPill from '@/components/common/TechPill.astro';
import LocalizedLink from '@/components/LocalizedLink.astro';
import Translation from '@/components/Translation.astro';
import type { ProjectEntry } from '@/content/config';
import { getSeeAlsoLinks } from '@/content/projects';

import Main from './Main.astro';

export interface Props {
  project: ProjectEntry;
}

const { project } = Astro.props;
const seeAlso = await getSeeAlsoLinks(project.data.seeAlso ?? [], i18next.language);
---

<script src="../scripts/blog.ts"></script>

<Main
  title={project.data.title}
  description={project.data.description}
  seo={{
    openGraph: {
      images: [
        {
          url: project.data.seo?.src ?? project.data.coverDark.src,
          alt: project.data.seo?.src ? project.data.description : project.data.coverAlt,
          type: `image/${(project.data.seo?.src ?? project.data.coverDark.src).split('.').pop()?.split('?')[0]}`,
          width: project.data.seo?.width ?? project.data.coverDark.width,
          height: project.data.seo?.height ?? project.data.coverDark.height,
        },
      ],
    },
    titleTemplate: `%s | ${t('common.projects')} @ Fabian Kachlock`,
  }}
>
  <link href="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css" rel="stylesheet" slot="head" />

  <article>
    <header class="project__header">
      <div class="project__header-content">
        <div class="project__header-image-wrappper">
          <DynamicImage
            dark={project.data.coverDark}
            light={project.data.coverLight}
            alt={project.data.coverAlt}
            transition:name={`project-image:${project?.slug}`}
            class="project__header-image"
          />
        </div>
        <h1 class="project__title" transition:name={`project-title:${project?.slug}`}>{project.data.title}</h1>
      </div>
      <div class="project__header-content">
        <div class="project__header-info">
          <p class="project__author">
            <Translation>
              <span slot="de">von</span>
              <span slot="en">by</span>
            </Translation>
            {project.data.author}
          </p>
          <p class="project__year">{project.data.year}</p>
        </div>
        <div class="project__meta">
          <div class="project__tech">
            {project.data.technologies.map(t => <TechPill tech={t} />)}
          </div>
          <div class="project__links project__links--header">
            <ProjectLinks socials={project.data.socials} title={project.data.title} />
          </div>
        </div>
      </div>
    </header>
    <main class="project__content">
      <!-- <div class="project__gallery">
        <span>
          <Fragment set:html={galleryIcon} />
        </span>
      </div> -->
      <slot />
    </main>
    <footer class="project__footer">
      <div class="project__footer-content">
        {
          project.data.socials && (
            <div class="project__footer-info">
              <Translation>
                <p slot="de">Links</p>
                <p slot="en">Links</p>
              </Translation>
              <div class="project__links">
                <ProjectLinks socials={project.data.socials} title={project.data.title} />
              </div>
            </div>
          )
        }
        <Translation>
          <p class="project__footer-see-also" slot="de">Auch interessant:</p>
          <p class="project__footer-see-also" slot="en">See also:</p>
        </Translation>
        <div class="project__footer-links">
          {
            seeAlso?.map(p => (
              <a class="project__footer-link project__footer-link--project" href={p.url}>
                <span class="project__footer-link-icon">
                  <Fragment set:html={arrowUpRightIcon} />
                </span>
                <span>{p.title}</span>
              </a>
            ))
          }
          <LocalizedLink classes="project__footer-link project__footer-link--home" path="/">
            <span class="project__footer-link-icon">
              <Fragment set:html={homeIcon} />
            </span>
            <Translation>
              <span slot="de">Zurück zur Startseite</span>
              <span slot="en">Go back home</span>
            </Translation>
          </LocalizedLink>
        </div>
      </div>
    </footer>
  </article>
</Main>

<style>
  .project__header {
    padding: 1rem;
    background-color: var(--color-bg-tint-3);
    position: relative;
    border-bottom: 1px solid var(--color-text);
  }

  .project__header-content {
    position: relative;
    margin: 0 auto;
    max-width: 920px;
  }

  .project__header-image-wrappper {
    margin-bottom: 1rem;
  }

  :global(.project__header-image) {
    max-height: max(400px, 70vh);
    max-width: min(100%, 920px);
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }

  .project__title {
    font-family: 'Source Code Pro';
    font-weight: 700;
    font-size: 2rem;
    background: var(--color-surface);
    border: 2px solid var(--color-text);
    border-right: none;
    border-top: none;
    padding: 1rem;
    width: calc(100% - 2rem);
    hyphens: auto;
    z-index: 100;
    box-shadow:
      -7px 7px 0 -2px var(--color-primary),
      -7px 7px 0 0 var(--color-text);
  }

  .project__author,
  .project__year {
    font-size: 1.3rem;
    font-family: 'Mona Sans';
    font-weight: 300;
    color: var(--color-text);
  }

  .project__year {
    text-align: right;
  }

  .project__header-info,
  .project__meta {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.5rem;
  }
  .project__header-info {
    margin-top: 3rem;
    margin-bottom: 1rem;
  }

  .project__tech {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  /* .project__gallery :global(svg) {
    width: 2rem;
    height: 2rem;
    fill: var(--color-text);
  } */

  @media only screen and (min-width: 460px) {
    .project__header {
      padding: 2rem;
    }

    .project__meta,
    .project__header-info {
      flex-direction: row;
    }

    .project__header-image-wrappper {
      max-width: 80vw;
      margin-bottom: 5rem;
    }

    .project__title {
      font-size: 3rem;
      padding: 1rem 1rem 1rem 2rem;
      position: absolute;
      bottom: -3rem;
      left: -1rem;
      width: unset;
      max-width: 80%;
    }
  }

  @media only screen and (min-width: 620px) {
    .project__title {
      font-size: 4rem;
      bottom: -1rem;
    }

    .project__header-image-wrappper {
      margin-bottom: 3rem;
    }
  }

  .project__links {
    display: flex;
    gap: 0.5rem;
  }

  .project__links--header {
    justify-content: flex-end;
  }

  .project__footer-content,
  .project__content {
    padding: 1rem;
    position: relative;
    max-width: 768px;
    margin: 0 auto;
  }

  .project__content {
    hyphens: auto;
  }

  @media only screen and (min-width: 460px) {
    .project__footer-content,
    .project__content {
      padding: 2rem;
    }
  }

  @media only screen and (min-width: 768px) {
    .project__content {
      padding: 2rem 4rem;
    }
  }

  .project__footer {
    border-top: 1px solid var(--color-text);
    background-color: var(--color-bg-tint-3);
  }

  .project__footer-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
  }

  .project__footer-info p {
    font-family: 'Mona Sans';
    color: var(--color-text);
    font-size: 1.3rem;
  }

  .project__footer-see-also {
    font-family: 'Mona Sans';
    color: var(--color-text);
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }

  .project__footer-links {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem;
    margin-top: 1rem;
  }

  @media only screen and (min-width: 768px) {
    .project__footer-links {
      flex-direction: row;
    }
  }

  :global(.project__footer-link) {
    font-family: 'Mona Sans';
    color: var(--color-text);
    font-size: 1.2rem;
    padding: 1rem;
    background-color: var(--color-surface);
    border: 1px solid var(--color-text);
    display: flex;
    gap: 1rem;
    align-items: center;
    transition:
      box-shadow 70ms linear,
      translate 70ms linear;
    box-shadow:
      0px 0px 0 -1px var(--color-bg-tint-3),
      0px 0px var(--color-text);
    text-decoration: none;
    flex: 1;
  }

  :global(.project__footer-link-icon) {
    transition: rotate 70ms linear;
  }

  :global(.project__footer-link:hover) {
    color: var(--color-primary);
    background-color: var(--color-bg);
    translate: -5px -5px;
    box-shadow:
      5px 5px 0 -1px var(--color-bg-tint-3),
      5px 5px var(--color-text);
  }

  :global(.project__footer-link:active) {
    color: var(--color-primary);
    background-color: var(--color-bg);
    translate: -2px -2px;
    box-shadow:
      2px 2px 0 -1px var(--color-bg-tint-3),
      2px 2px var(--color-text);
  }

  :global(.project__footer-link .project__footer-link-icon) {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--color-text);
  }

  :global(.project__footer-link:hover .project__footer-link-icon) {
    fill: var(--color-primary);
  }

  :global(.project__footer-link:hover.project__footer-link--project .project__footer-link-icon) {
    rotate: 45deg;
  }

  @layer blog-defaults {
    .project__content :global(h1) {
      font-family: 'Mona Sans';
      font-weight: 700;
      color: var(--color-text-header);
      font-size: 2rem;
      margin-top: 2rem;
      margin-bottom: 1rem;
      position: relative;
    }

    .project__content :global(h2) {
      font-family: 'Mona Sans';
      font-weight: 700;
      color: var(--color-text-header);
      font-size: 1.5rem;
      margin-top: 2rem;
      margin-bottom: 1rem;
      position: relative;
    }

    .project__content :global(h3) {
      font-family: 'Mona Sans';
      font-weight: 600;
      color: var(--color-text-header);
      font-size: 1.4rem;
      margin-top: 2rem;
      margin-bottom: 1rem;
      position: relative;
    }

    .project__content :global(h4) {
      font-family: 'Mona Sans';
      font-weight: 500;
      color: var(--color-text-header);
      font-size: 1.3rem;
      margin-top: 1rem;
      margin-bottom: 0.5rem;
      position: relative;
    }

    .project__content :global(h5) {
      font-family: 'Mona Sans';
      font-weight: 400;
      color: var(--color-text-header);
      font-size: 1.2rem;
      margin-top: 1rem;
      margin-bottom: 0.5rem;
      position: relative;
    }

    .project__content :global(h6) {
      font-family: 'Mona Sans';
      font-weight: 300;
      color: var(--color-text-header);
      font-size: 1.1rem;
      margin-top: 1rem;
      margin-bottom: 0.5rem;
      position: relative;
    }

    .project__content :global(ul),
    .project__content :global(ol),
    .project__content :global(p) {
      font-family: 'Mona Sans';
      color: var(--color-text);
      margin-bottom: 1rem;
      line-height: 1.7em;
      max-width: 65ch;
    }

    .project__content :global(a) {
      color: var(--color-primary);
    }

    .project__content :global(a:hover) {
      color: var(--color-secondary);
    }

    .project__content :global(ul) {
      list-style-type: disc;
      padding-left: 1.5rem;
    }

    .project__content :global(ol) {
      list-style-type: decimal;
      padding-left: 1.5rem;
    }

    .project__content :global(p) > :global(code) {
      display: inline-block;
      font-family: 'Source Code Pro';
      color: var(--color-text-heading);
      background: var(--color-transparent-bg);
      border-radius: 5px;
    }

    .project__content :global(.astro-code) {
      padding: 0.5rem;
      font-family: 'Source Code Pro';
      font-size: 0.9rem;
      border: 1px solid var(--color-text);
      border-radius: 5px;
      background-color: var(--color-surface);
      color: var(--color-text);
    }

    .project__content :global(p):has(> img) {
      max-width: unset;
    }

    .project__content :global(.header-group) {
      position: relative;
    }

    .project__content :global(.header-group a) {
      position: absolute;
      left: 0;
      top: 50%;
      height: 1rem;
      width: 1rem;
      z-index: -1;
      translate: 0 -50%;
      opacity: 0;
      z-index: 10;
      padding: 0.25rem;
      transition:
        opacity 70ms ease-in-out,
        left 140ms ease-in-out,
        width 110ms ease-in-out 100ms,
        height 110ms ease-in-out 100ms;
    }

    .project__content :global(.header-group a:focus) {
      transition: none;
    }

    .project__content :global(.header-group a:focus),
    .project__content :global(.header-group:hover a),
    .project__content :global(.header-group a:hover) {
      left: -2.1rem;
      height: 1.6rem;
      width: 1.6rem;
      opacity: 1;
    }

    .project__content :global(.header-link) :global(svg) {
      width: 100%;
      height: 100%;
      fill: var(--color-primary);
      transition: scale 70ms ease-in-out;
    }

    .project__content :global(.header-link) :global(svg:hover) {
      scale: 1.1;
    }

    .project__content :global(.header-link) :global(svg:active) {
      scale: 1.05;
    }
  }
</style>
